.filer-dropdown {
  height: 3.5em;
  width: 12em;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 10px;
}

.filer-dropdown__icon {
  font-size: 1.5em;
  color: var(--green-color);
}

.searchbar__filters__dropdown {
  display: flex;
  flex-direction: column;
}

.filer-dropdown select {
  background-color: transparent;
  color: white;
  border: none;
}
.filer-dropdown option {
  color: rgb(255, 255, 255);
}

.filer-dropdown label {
  font-size: x-small;
  margin-left: 2px;
}
