footer {
  margin-top: 5em;
  background-color: var(--background-color);
}

.payment__methods {
  background-color: var(--background-dark-color);
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding-left: 20%;
  align-items: center;
}

.payment__methods p {
  color: rgb(212, 195, 195);
}
.social__networks__container {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.social__networks {
  padding: 4em 0;
  align-self: flex-start;
  padding-left: 20%;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.social__networks__icon {
  font-size: 1.5em;
}

.social__networks__separator {
  justify-content: center;
  width: 60vw;
  background-color: var(--blue-color);
  height: 2px;
}

footer h3 {
  color: white;
}

footer ul {
  list-style-type: none;
}
footer li a {
  color: rgb(139, 151, 151);
  font-size: 12px;
}

.copyright__text {
  text-align: center;
  padding-bottom: 1em;
  color: rgb(139, 151, 151);
}

@media (max-width: 1024px) {
  .payment__methods {
    gap: 0.5em;
    padding-left: 0%;
    justify-content: center;
  }
  .payment__methods img {
    width: 50px;
  }

  .social__networks {
    padding: 1em 0;
    align-self: center;
    padding-left: 0%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }
}
